<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Node multer example</title>
</head>
<body>
    
    <%= (typeof msg == 'undefined' ? '' : JSON.stringify(msg)) %>
    
    <form action="/upload" method="POST" enctype="multipart/form-data">
        <input type="file" name="imagefile" id="fileselect" multiple>
        <button type="submit">Отправить файл на сервер</button>
    </form>

    <script type="text/javascript">
        const fileselect = document.getElementById('fileselect')
        console.log(fileselect)
        fileselect.onchange = event => {
            console.log(fileselect.files[0])
        }
    </script>
</body>
</html>